<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>gsp@pZG9dRgqerAS26J6CoxBnAf4wwvMj9brpC</string>
	<key>founder</key>
	<string>moky@4DnqXWdTV8wuZgfqSCX9GjE2kNq7HJrUgQ</string>
	<key>owner</key>
	<string>moky@4DnqXWdTV8wuZgfqSCX9GjE2kNq7HJrUgQ</string>
	<key>CA</key>
	<dict/>
	<key>home</key>
	<string>https://dim.chat/</string>
	<key>stations</key>
	<array>
		<dict>
			<key>ID</key>
			<string>gsp-s001@x5Zh9ixt8ECr59XLye1y5WWfaX4fcoaaSC</string>
			<key>host</key>
			<string>124.156.108.150</string>
			<key>port</key>
			<real>9394</real>
			<key>meta</key>
			<dict>
				<key>version</key>
				<integer>1</integer>
				<key>seed</key>
				<string>gsp-s001</string>
				<key>key</key>
				<dict>
					<key>algorithm</key>
					<string>RSA</string>
					<key>data</key>
					<string>-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDET7fvLupUBUc6ImwJejColybq
rU+Y6PwiCKhblGbwVqbvapD2A1hjEu4EtL6mm3v7hcgsO3Df33/ShRua6GW9/JQV
DLfdznLfuTg8w5Ug+dysJfbrmB1G7nbqDYEyXQXNRWpQsLHYSD/ihaSKWNnOuV0c
7ieJEzQAp++O+d3WUQIDAQAB
-----END PUBLIC KEY-----
</string>
				</dict>
				<key>fingerprint</key>
				<string>R+Bv3RlVi8pNuVWDJ8uEp+N3l+B04ftlaNFxo7u8+V6eSQsQJNv7tfQNFdC633UpXDw3zZHvQNnkUBwthaCJTbEmy2CYqMSx/BLuaS7spkSZJJAT7++xqif+pRjdw9yM/aPufKHS4PAvGec21PsUpQzOV5TQFyF5CDEDVLC8HVY=</string>
			</dict>
			<key>CA</key>
			<dict/>
		</dict>
		<dict>
			<key>ID</key>
			<string>gsp-s001@x5Zh9ixt8ECr59XLye1y5WWfaX4fcoaaSC</string>
			<key>host</key>
			<string>127.0.0.1</string>
			<key>port</key>
			<integer>9394</integer>
			<key>meta</key>
			<dict>
				<key>version</key>
				<integer>1</integer>
				<key>seed</key>
				<string>gsp-s001</string>
				<key>key</key>
				<dict>
					<key>algorithm</key>
					<string>RSA</string>
					<key>data</key>
					<string>-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDET7fvLupUBUc6ImwJejColybq
rU+Y6PwiCKhblGbwVqbvapD2A1hjEu4EtL6mm3v7hcgsO3Df33/ShRua6GW9/JQV
DLfdznLfuTg8w5Ug+dysJfbrmB1G7nbqDYEyXQXNRWpQsLHYSD/ihaSKWNnOuV0c
7ieJEzQAp++O+d3WUQIDAQAB
-----END PUBLIC KEY-----
</string>
				</dict>
				<key>fingerprint</key>
				<string>R+Bv3RlVi8pNuVWDJ8uEp+N3l+B04ftlaNFxo7u8+V6eSQsQJNv7tfQNFdC633UpXDw3zZHvQNnkUBwthaCJTbEmy2CYqMSx/BLuaS7spkSZJJAT7++xqif+pRjdw9yM/aPufKHS4PAvGec21PsUpQzOV5TQFyF5CDEDVLC8HVY=</string>
			</dict>
			<key>CA</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
