<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string></string>
	<key>founder</key>
	<string></string>
	<key>owner</key>
	<string></string>
	<key>CA</key>
	<dict/>
	<key>home</key>
	<string>https://dim.chat/</string>
	<key>stations</key>
	<array>
		<dict>
			<key>ID</key>
			<string>gsp-s001@x5Zh9ixt8ECr59XLye1y5WWfaX4fcoaaSC</string>
			<key>publicKey</key>
			<dict>
				<key>algorithm</key>
				<string>RSA</string>
				<key>data</key>
				<string>-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDET7fvLupUBUc6ImwJejColybq
rU+Y6PwiCKhblGbwVqbvapD2A1hjEu4EtL6mm3v7hcgsO3Df33/ShRua6GW9/JQV
DLfdznLfuTg8w5Ug+dysJfbrmB1G7nbqDYEyXQXNRWpQsLHYSD/ihaSKWNnOuV0c
7ieJEzQAp++O+d3WUQIDAQAB
-----END PUBLIC KEY-----
</string>
			</dict>
			<key>host</key>
			<string>124.156.108.150</string>
			<key>port</key>
			<real>9394</real>
			<key>CA</key>
			<dict/>
			<key>meta</key>
			<dict>
				<key>version</key>
				<integer>1</integer>
				<key>seed</key>
				<string>gsp-s001</string>
				<key>key</key>
				<dict>
					<key>algorithm</key>
					<string>RSA</string>
					<key>data</key>
					<string>-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDET7fvLupUBUc6ImwJejColybq
rU+Y6PwiCKhblGbwVqbvapD2A1hjEu4EtL6mm3v7hcgsO3Df33/ShRua6GW9/JQV
DLfdznLfuTg8w5Ug+dysJfbrmB1G7nbqDYEyXQXNRWpQsLHYSD/ihaSKWNnOuV0c
7ieJEzQAp++O+d3WUQIDAQAB
-----END PUBLIC KEY-----
</string>
				</dict>
				<key>fingerprint</key>
				<string>R+Bv3RlVi8pNuVWDJ8uEp+N3l+B04ftlaNFxo7u8+V6eSQsQJNv7tfQNFdC633UpXDw3zZHvQNnkUBwthaCJTbEmy2CYqMSx/BLuaS7spkSZJJAT7++xqif+pRjdw9yM/aPufKHS4PAvGec21PsUpQzOV5TQFyF5CDEDVLC8HVY=</string>
			</dict>
			<key>privateKey</key>
			<dict>
				<key>algorithm</key>
				<string>RSA</string>
				<key>data</key>
				<string>-----BEGIN RSA PRIVATE KEY-----
MIICXAIBAAKBgQDET7fvLupUBUc6ImwJejColybqrU+Y6PwiCKhblGbwVqbvapD2
A1hjEu4EtL6mm3v7hcgsO3Df33/ShRua6GW9/JQVDLfdznLfuTg8w5Ug+dysJfbr
mB1G7nbqDYEyXQXNRWpQsLHYSD/ihaSKWNnOuV0c7ieJEzQAp++O+d3WUQIDAQAB
AoGAA+J7dnBYWv4JPyth9ayNNLLcBmoUUIdwwNgow7orsM8YKdXzJSkjCT/dRarR
eIDMaulmcQiils2IjSEM7ytw4vEOPWY0AVj2RPhD83GcYyw9sUcTaz22R5UgsQ8X
7ikqBX+YO+diVBf2EqAoEihdO8App6jtlsQGsUjjlrKQIMECQQDSphyRLixymft9
bip7N6YZA5RoiO1yJhPn6X2EQ0QxX8IwKlV654jhDcLsPBUJsbxYK0bWfORZLi8V
+ambjnbxAkEA7pNmEvw/V+zw3DDGizeyRbhYgeZxAgKwXd8Vxd6pFl4iQRmvu0is
d94jZzryBycP6HSRKN11stnDJN++5TEVYQJALfTjoqDqPY5umazhQ8SeTjLDvBKz
iwXXre743VQ3mnYDzbJOt+OvrznrXtK03EqUhr/aUo0o3HQA/dBcOn3YYQJBAM98
yAh48wogGnYVwYbwgI3cPrVy2hO6jPKHAyOce4flhHsDwO7rzHtPaZDtFfMciNxN
DLXyrNtIQkx+f0JLBuECQCUfuJGL+qbExpD3tScBJPAIJ8ZVRVbTcL3eHC9q6gx3
7Fmn9KfbQrUHPwwdo5nuK+oVVYnFkyKGPSer7ras8ro=
-----END RSA PRIVATE KEY-----
</string>
			</dict>
		</dict>
		<dict>
			<key>ID</key>
			<string>gsp-s001@x5Zh9ixt8ECr59XLye1y5WWfaX4fcoaaSC</string>
			<key>publicKey</key>
			<dict>
				<key>algorithm</key>
				<string>RSA</string>
				<key>data</key>
				<string>-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDET7fvLupUBUc6ImwJejColybq
rU+Y6PwiCKhblGbwVqbvapD2A1hjEu4EtL6mm3v7hcgsO3Df33/ShRua6GW9/JQV
DLfdznLfuTg8w5Ug+dysJfbrmB1G7nbqDYEyXQXNRWpQsLHYSD/ihaSKWNnOuV0c
7ieJEzQAp++O+d3WUQIDAQAB
-----END PUBLIC KEY-----
</string>
			</dict>
			<key>host</key>
			<string>127.0.0.1</string>
			<key>port</key>
			<integer>9394</integer>
			<key>CA</key>
			<dict/>
			<key>meta</key>
			<dict>
				<key>version</key>
				<integer>1</integer>
				<key>seed</key>
				<string>gsp-s001</string>
				<key>key</key>
				<dict>
					<key>algorithm</key>
					<string>RSA</string>
					<key>data</key>
					<string>-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDET7fvLupUBUc6ImwJejColybq
rU+Y6PwiCKhblGbwVqbvapD2A1hjEu4EtL6mm3v7hcgsO3Df33/ShRua6GW9/JQV
DLfdznLfuTg8w5Ug+dysJfbrmB1G7nbqDYEyXQXNRWpQsLHYSD/ihaSKWNnOuV0c
7ieJEzQAp++O+d3WUQIDAQAB
-----END PUBLIC KEY-----
</string>
				</dict>
				<key>fingerprint</key>
				<string>R+Bv3RlVi8pNuVWDJ8uEp+N3l+B04ftlaNFxo7u8+V6eSQsQJNv7tfQNFdC633UpXDw3zZHvQNnkUBwthaCJTbEmy2CYqMSx/BLuaS7spkSZJJAT7++xqif+pRjdw9yM/aPufKHS4PAvGec21PsUpQzOV5TQFyF5CDEDVLC8HVY=</string>
			</dict>
			<key>privateKey</key>
			<dict>
				<key>algorithm</key>
				<string>RSA</string>
				<key>data</key>
				<string>-----BEGIN RSA PRIVATE KEY-----
MIICXAIBAAKBgQDET7fvLupUBUc6ImwJejColybqrU+Y6PwiCKhblGbwVqbvapD2
A1hjEu4EtL6mm3v7hcgsO3Df33/ShRua6GW9/JQVDLfdznLfuTg8w5Ug+dysJfbr
mB1G7nbqDYEyXQXNRWpQsLHYSD/ihaSKWNnOuV0c7ieJEzQAp++O+d3WUQIDAQAB
AoGAA+J7dnBYWv4JPyth9ayNNLLcBmoUUIdwwNgow7orsM8YKdXzJSkjCT/dRarR
eIDMaulmcQiils2IjSEM7ytw4vEOPWY0AVj2RPhD83GcYyw9sUcTaz22R5UgsQ8X
7ikqBX+YO+diVBf2EqAoEihdO8App6jtlsQGsUjjlrKQIMECQQDSphyRLixymft9
bip7N6YZA5RoiO1yJhPn6X2EQ0QxX8IwKlV654jhDcLsPBUJsbxYK0bWfORZLi8V
+ambjnbxAkEA7pNmEvw/V+zw3DDGizeyRbhYgeZxAgKwXd8Vxd6pFl4iQRmvu0is
d94jZzryBycP6HSRKN11stnDJN++5TEVYQJALfTjoqDqPY5umazhQ8SeTjLDvBKz
iwXXre743VQ3mnYDzbJOt+OvrznrXtK03EqUhr/aUo0o3HQA/dBcOn3YYQJBAM98
yAh48wogGnYVwYbwgI3cPrVy2hO6jPKHAyOce4flhHsDwO7rzHtPaZDtFfMciNxN
DLXyrNtIQkx+f0JLBuECQCUfuJGL+qbExpD3tScBJPAIJ8ZVRVbTcL3eHC9q6gx3
7Fmn9KfbQrUHPwwdo5nuK+oVVYnFkyKGPSer7ras8ro=
-----END RSA PRIVATE KEY-----
</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
